@font-face {
  font-family: PT_Sans;
  src: url(assets/fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

body{
  font-family: PT_Sans;
  margin: 0;
  background: url('assets/img/background.jpg');
}

.page{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.leftBar{
  flex-basis: 20%
}

.centralContent{
  flex-basis: 60%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.centralTitle{
  text-align: center;
  color: #333;
  margin: 5px 5px;
  flex-basis: 5%;
}

.rightBar{
  flex-basis: 20%
}