@import '~assets/styles/colors.scss';

.textInput {
  padding: 5px 7.5%;
  font-size: 1.5em;
  background-color: $black;
  color: $gold;
  border: 2px solid $gold;
  font-family: PT_Sans;
  border-radius: 30px;
  outline: none;
  width: 85%;
}