.textInput {
  padding: 5px 7.5%;
  font-size: 1.5em;
  background-color: #333;
  color: #e4ae33;
  border: 2px solid #e4ae33;
  font-family: PT_Sans;
  border-radius: 30px;
  outline: none;
  width: 85%;
}