@import '~assets/styles/colors.scss';

.container{
  position: relative;
}

.optionsContainer{
  position: absolute;
  width: 80%;
  left: 10%;
  border: 2px solid $gold;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  z-index: 10;
}

.option {
  padding: 5px 7.5%;
  font-size: 1em;
  background-color: $black;
  color: $gold;
  font-family: PT_Sans;
  outline: none;
  cursor: pointer;

  &:last-child {
    border-radius: 0px 0px 8px 8px;
  }

  &:hover {
    box-shadow: inset 0px 0px 20px;
  }
}

.selectedOption {
  @extend .option;
  background-color: $gold;
  color: $black;
  font-weight: 600;
}