@keyframes append{
  0% { bottom: -400px }
  100% { bottom: 0px }
}

.container{
  padding: 5px 10px;
  background: #333;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.75);
}

.title{
  color: #E4AE33;
  margin: 5px;
  // color: #ededed;
  text-align: center;
}

.statContainer{
  font-size: 1em;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 1px solid #fefefe;
}

.headContainer{
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 2px solid #f26000;
}

.statContainer:last-child{
  border-bottom: 0;
}

.statTitle{
  color: #f26000;
  flex-basis: 40%;
}

.statValue{
  color: #fefefe;
  text-align: center;
  flex-basis: 15%
}

.heroContainer {
  position: absolute;
  left: 35%;
  width: 30%;
  bottom: 0px;
  animation: append 0.5s;
}