@keyframes append{
  0% { bottom: -400px }
  100% { bottom: 10px }
}

@keyframes glow{
  0% {
		box-shadow: 0 0 5px rgba(228, 174, 51, 0.25);
  }	
  100% {
    box-shadow: 0 0 20px rgba(228, 174, 51, 0.75);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 0 rgba(228, 174, 51, 0.4);
  }
  70% {
    box-shadow: 0 0 5px 10px rgba(228, 174, 51, 0);
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(228, 174, 51, 0);
  }
}

.container{
  padding: 5px 10px;
  background: #333;
  border-radius: 10px;
  animation: pulse 2s infinite;
}

.title{
  color: #E4AE33;
  margin: 5px;
  letter-spacing: 2px;
  text-align: center;
}

.statContainer{
  font-size: 1em;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 1px solid #fefefe;
}

.headContainer{
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 2px solid #e4ae33;
  font-weight: bold;
}

.statContainer:last-child{
  border-bottom: 0;
}

.statTitle{
  color: #e4ae33;
  flex-basis: 40%;
}

.statValue{
  color: #fefefe;
  text-align: center;
  flex-basis: 15%
}

.heroContainer {
  position: absolute;
  left: 35%;
  width: 30%;
  bottom: 10px;
  animation: append 0.5s;
}