.leftBar{
  flex-basis: 15%;
  flex-direction: column;
  display: flex;
}

.fetchContainer{
  padding: 5%;
  flex-basis: 7.5%;
}

.filtersContainer{
  padding: 5%;
  flex-basis: 85%;
}

.teamContainer{
  padding: 5%;
  flex-basis: 7.5%;
}

.filterWrap{
  margin: 5px;
}